service: pipeline-notificcation-hal

frameworkVersion: ">=1.28.0 <2.0.0"

provider:
  name: aws
  runtime: go1.x
  region: eu-west-1
  iamRoleStatements:
    - Effect: "Allow"
      Action:
        - "ssm:GetParameter"
      Resource: "*"

package:
  exclude:
    - ./**
  include:
    - ./bin/**

functions:
  pipeline:
    handler: bin/pipeline
    memorySize: 128
    events:
      - cloudwatchEvent:
          event:
            source:
              - "aws.codepipeline"
    environment:
      HAL: https://${env:Domain}/alerting/alert/text/${env:Group}